{{ define "partial/footer" }}

<div class="container-fluid text-center text-secondary py-5">
    <div class="row justify-content-center">
        <div class="col-auto text-secondary">
            <p>
                © Matthias Hochgatterer
                &#8226;
                <a href="https://github.com/brutella/hkcam" target="_blank">Github</a>
            </p>
        </div>
    </div>
</div>
{{ end }}